<section class="dark-wrapper">

    <div class="wrapper clearfix">

        <div class="two_thirds scroll-animate left">
            <div id="message"></div>
            <form method="post" action="sendemail.php" id="contactform">
                <input type="text" name="name" id="name" placeholder="Name"/>
                <input type="text" name="email" id="email" placeholder="Email"/>
                <input type="text" name="website" id="website" placeholder="Website"/>
                <textarea name="comments" id="comments" placeholder="Comments"></textarea>
                <input type="submit" name="submit" value="Submit"/>
            </form>
        </div>

        <div class="one_third last scroll-animate right">
            <h5>Contact Us</h5>
            <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Morbi commodo, ipsum sed pharetra gravida, orci
                magna rhoncus neque, id pulvinar.</p>
            <p class="margin-bottom-10"><i class="fa fa-map-marker fa-fixed-width"></i> York, England</p>
            <p class="margin-bottom-10"><i class="fa fa-phone-square fa-fixed-width"></i> +00 (123) 456 78 90</p>
            <p class="margin-bottom-10"><i class="fa fa-laptop fa-fixed-width"></i> <a href="first.last@email.com">first.last@email.com</a>
            </p>
        </div>

    </div>

</section>